.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;
}

.nav {
  align-items: center;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  list-style: none;

  &__link:link,
  &__link:visited {
    color: #fff;
    display: block;
    font-size: 1.8rem;
    font-family: $font-display;
    transition: all 0.7s;
    text-align: center;
    text-decoration: none;
    padding: 1.5rem;
  }

  &__link:hover,
  &__link:active {
    border-radius: 10px;
    background-color: rgba(#fff, 0.07);
    transform: translateY(-15%);
  }
}

.copyright {
  color: $color-grey-light-2;
  font-size: 1.2rem;
  margin: 3.6rem auto 0 auto;
  text-align: center;
  width: 80%;
}
